#page-wrapper {
  background-color: $white;
  padding:2.5vh;
}

#page-wrapper-2 {
  background-color: $grey-light;
}

.section {
    @include clearFix;
    padding-left: 2.5vh;
    padding-right: 2.5vh;

    &:focus {
        outline: none;
    }
}
