* {}

// Design and Development portfolio
//

.section--portfolio__video {
    background-color: $grey-light;
    clip-path: polygon(0 0, 100% 10rem, 100% 100%, 0 100%);
    padding-bottom: 15rem;
    padding-top: 10rem;
    margin-top: -10rem;

    @include respond(laptop) {
        clip-path: polygon(0 0, 100% 10rem, 100% 100%, 0 100%);
        padding-bottom: 15rem;
        padding-top: 10rem;
        margin-top: -10rem;
    }

    @include respond(desktop-large) {
        clip-path: polygon(0 0, 100% 20rem, 100% 100%, 0 100%);
        padding-bottom: 30rem;
        padding-top: 20rem;
        margin-top: -20rem;
    }

    img {
        width: 100%;
        height: auto;

        &:hover {
            opacity: 0;
        }
    }

    a.overlay {
        display: block;
        background: #000 url(../images/full/demoreelthumb-hover.jpg);
        background-size: cover;
        line-height: 0;

        &:hover {
            text-decoration: none;
            border-bottom: 0;
        }
    }

}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 97%;
}

// New Portfolio Design using light box

.responsive-video {

    .featherlight-content {

        padding: 0;
        border-bottom: none;

        margin-right: 0%;
        margin-left: 0%;
        width: 100%;

        @include respond(tab-land) {
            margin-right: 5%;
            margin-left: 5%;
            width: 90%;
        }
        max-width:1920px;
        background: transparent;

        title.featherlight-inner {
            visibility: collapse;
            padding: 0;
            border:0;
            height: 0;
        }

        iframe {
            height: 97.7%;
        }
    }
}
